<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TallyCompany.CompanyState" value="Tamil Nadu" />
    <add key="TallyCompany.CompanyGSTRegistrationName" value="Tamil Nadu Registration" />
    <add key="TallyCompany.MainGodownName" value="Main Location" />
    <add key="TallyCompany.PrimaryBatchName" value="Primary Batch" />
    <add key="TallyCompany.CGSTLedgerName" value="CGST" />
    <add key="TallyCompany.SGSTLedgerName" value="SGST" />
    <add key="TallyCompany.IGSTLedgerName" value="IGST" />
    <add key="TallyCompany.RoundOffLedgerName" value="Round Off" />
    <add key="TallyCompany.DiscountLedgerName" value="Discount" />
    <add key="TallyCompany.OtherChargesLedgerName" value="Other Charges" />
    <add key="TallyCompany.CashLedgerName" value="CASH" />
    <add key="TallyCompany.SalesLedgerPrefix" value="Sales" />
    <add key="TallyCompany.MasterApplicableFrom" value="20260401" />
  </appSettings>
  <connectionStrings>
    <!-- Replace only in deployment config. Code reads ConfigurationManager.ConnectionStrings["con"]. -->
    <add name="con" connectionString="Server=localhost\SQLEXPRESS;Database=RRE_New;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
