<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
	<add name="con" connectionString="Server=localhost\SQLEXPRESS;Database=RRE_NEW;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
	<add key="ImagePath" value="\\rreserver\Prag\InventoryImages\" />
	<add key="productImagePath" value="\\rreserver\Prag\PICTURES\" />
	<add key="PrePrinted" value="No" />
	<add key="Delete" value="No" />
	<!-- Presence API settings -->
	<add key="PresenceApiUrl" value="https://rreapi.asquareai.com/api/sync/presence" />
	<add key="ProductSyncPublishUrl" value="https://rreapi.asquareai.com/api/sync/products/publish" />
	<add key="BranchCode" value="RR-SALEM" />
	<add key="ApiKey" value="rr-salem-sync-dev-key" />
  </appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
	<supportedRuntime version="v2.0.50727" />
  </startup>

  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.2000.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.2000.0" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>
