<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="PresenceCursorUrl" value="http://127.0.0.1:8000/api/sync/cursor/quotations" />
	<add key="PresencePushUrl" value="http://127.0.0.1:8000/api/sync/quotations" />
	<add key="BranchCode" value="RR-SALEM" />
	<add key="ApiKey" value="rr-salem-sync-dev-key" />
  </appSettings>
</configuration>