<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="PresenceCursorUrl" value="http://127.0.0.1:8000/api/sync/cursor/quotations" />
		<add key="PresencePushUrl" value="http://127.0.0.1:8000/api/sync/quotations" />
		<add key="EstimationPushUrl" value="http://127.0.0.1:8000/api/sync/estimations" />
		<add key="SalesPushUrl" value="http://127.0.0.1:8000/api/sync/sales" />
		<add key="SalesPipesPushUrl" value="http://127.0.0.1:8000/api/sync/sales-pipes" />
		<add key="SalesTradersPushUrl" value="http://127.0.0.1:8000/api/sync/sales-traders" />-->
		<add key="PresenceCursorUrl" value="https://rreapi.asquareai.com/api/sync/cursor/quotations" />
		<add key="PresencePushUrl" value="https://rreapi.asquareai.com/api/sync/quotations" />
		<add key="EstimationPushUrl" value="https://rreapi.asquareai.com/api/sync/estimations" />
		<add key="SalesPushUrl" value="https://rreapi.asquareai.com/api/sync/sales" />
		<add key="SalesPipesPushUrl" value="https://rreapi.asquareai.com/api/sync/sales-pipes" />
		<add key="SalesTradersPushUrl" value="https://rreapi.asquareai.com/api/sync/sales-traders" />
		<add key="ProductChangesUrl" value="https://rreapi.asquareai.com/api/sync/products/changes" />
		<add key="BatchSize" value="5" />
		
		<add key="BatchSize" value="5" />
		<add key="BranchCode" value="RR-NAMAKKAL" />
		<add key="ApiKey" value="rr-namakkal-sync-dev-key" />
		<add key="ConnectionString" value="Data Source=localhost\SQLEXPRESS;Database=RRE_NEW;Trusted_Connection=True;" />
	</appSettings>
</configuration>

